@import "vendor/jquery.textcomplete";
@import "vendor/materialize";

$grid-border-color: #2e7d32;

html {
  font-family: "Courier New", Calibri, Trebuchet, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
  display: inline-block;
  width: 100%;
}

h6 {
  font-size: 1.32rem;
  line-height: 1.56rem;
  margin: .5rem 0 .4rem;
}

h7 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin: .5rem 0 .4rem;
}

.btn-small {
  transform: scaleY(0.4) scaleX(0.4) translateY(40px);
}

pre {
  padding: 5px;
  margin: 5px;
  .string {
    color: #009688;
  }

  .number {
    color: #ffc107;
  }

  .boolean {
    color: #2196f3;
  }

  .null {
    color: #e91e63;
  }

  .key {
    color: #f44336;
  }
}

div#container {
  padding: 40px;
}

.dropdown-content {
  z-index: 2;
}

.grid {
  border: 1px dashed $grid-border-color;
  /* center */
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* fluid 5 columns */
.grid-item {
  -webkit-transition: width 500ms ease-out, height 500ms ease-out;
  -moz-transition: width 500ms ease-out, height 500ms ease-out;
  -o-transition: width 500ms ease-out, height 500ms ease-out;
  transition: width 500ms ease-out, height 500ms ease-out;
  width: 200px;
}

.grid-item .grid-container {
  margin: 5px;
  box-shadow: 2px 2px 15px -5px black;
  height: 200px;
  &:hover {
    background-color: #424242 !important;
  }
  & > .row {
    border: 1px solid $grid-border-color;
    height: 50%;
  }
}

.row {
  margin: 0;
}

i.prefix {
  margin-right: 5px;
}

/* 2 columns */
.grid-item-open {
  width: 60%;
  z-index: 1;
}

.clickable {
  cursor: pointer;
}

.section {
  margin-bottom: 0;
  .title {
    padding-bottom: 1rem;
  }
}

.json-schema {
  .json-item {
    clear: both;
    margin-top: 10px;
    margin-left: 10px;
    border-left: 1px solid #9e9e9e;
    .add-item {
      margin-top: .3rem;
      margin-left: 1.3em;
      opacity: 0;
    }
    &:hover {
      & > .add-item {
        opacity: 1;
      }
    }
    .remove-item {
      padding: 0 10px;
      margin-top: .8rem;
      margin-right: 10px;
    }
  }
  .input-field {
    max-width: 200px;
    float: left;
    display: inline-block;
    margin: 0;
    &.array-size {
      margin-left: 1.3em;
      width: 50px;
    }
    select {
      margin-left: 10px;
    }

  }
}

.section {
  border: 1px dashed $grid-border-color;
}

input {
  color: white;
}

input.valid {
  color: #66bb6a;
}

table {
  td,th{
    padding-left:20px;
    padding-right:20px;
  }
}
