.grid-item.clickable
    .grid-container.grey.darken-4.grey-text
        .row
            .col.s12
                h6.center
                    i.mdi-action-dns.prefix
                    span.card-title Card Title
                    i.details.mdi-navigation-close.right(style="display:none")

        .row.summary
            .col.s6.center
                h7.grey-text Endpoints
                h5.endpoints-amount
            .col.s6.center
                h7.grey-text Services
                h5.services-amount