extends layout

block content
    .grid#apps-grid
        .grid-sizer
    include  modals/app.jade
    include  modals/endpoint.jade
    include  modals/service.jade
    script#card-template(type="component")
        include components/card.jade