extends layout
block content
    .section
        .row
            .col.s12

                h4.grey-text
                    i.mdi-action-dns.prefix
                    span #{data.app_name}
    .section
        .row
            .col.s12
                h5.grey-text
                    | Endpoints
                    a#show-endpoint-form.btn-floating.waves-effect.waves-light.right
                        i.mdi-content-add

        .row.add-endpoint(style="display:none")
            include templates/add.endpoint.jade
        .row
            .col.s12
                table(cellspacing=200)#endpoints-table.hoverable.responsive-table
                    thead.green-text.text-darken-2
                        tr
                            th(data-field="url") URL
                            th(data-field="hits" style="width:1%;white-space:nowrap;") Hits
                            th(data-field="response_type" style="width:1%;white-space:nowrap;") Response Type
                            th(data-field="actions" style="width: 1px;") Actions
                    tbody.green-text
                        each endpoint, index in data.endpoints
                            tr
                                td #{endpoint.route}
                                td(style="width:1%;white-space:nowrap;") #{endpoint.hits}
                                td(style="width:1%;white-space:nowrap;") #{endpoint.response_type}
                                td(style="width:1%;white-space:nowrap;")
                                    button.btn-floating.blue.darken-2(style="margin-right: 20px")
                                        i.mdi-editor-mode-edit
                                    button.btn-floating.amber.darken-4(style="margin-right: 20px")
                                        i.mdi-editor-insert-chart
                                    button.btn-floating.red.darken-2
                                        i.mdi-action-highlight-remove
    .section
        .row
            .col.s12
                h5.grey-text
                    | Services
                    a#add-service.btn-floating.waves-effect.waves-light.right
                        i.mdi-content-add
        .row.add-service(style="display:none")
            include templates/add.service.jade
        .row
            .col.s12
                table#services-table.hoverable.responsive-table
                    thead.green-text.text-darken-2
                        tr
                            th(data-field="url") URL
                            th(data-field="hits") Hits
                            th(data-field="response_type") Response Type
                            th(data-field="actions") Actions
                    tbody.green-text
    .fixed-action-btn(style="bottom: 45px; right: 24px;")
        a#back-btn.btn-floating.btn-large.blue.darken-1.waves-effect.waves-red(href="/")
            i.large.mdi-navigation-arrow-back
    include templates/json.item.jade