doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/app.min.css')
    body.grey.darken-4
        #container
            block content

    script(src="/js/app.min.js")