form.col.s12
    .section
        .row.title.grey-text
            .col.s12
                h6.edit-title
    .section
        .row
            .col.m8.s12
                .row
                    .input-field.col.m8.s12
                        i.mdi-content-link.prefix
                        input#route.validate(type="text")
                        label(for="route") Route
                    .input-field.col.m2.s12
                        select.browser-default#response-type
                            option(value="json" selected) JSON
                            option(value="upload") Upload
                            option(value="image_base64") Image Base 64
                            option(value="audio") Audio
                            option(value="video") Video
                    .input-field.col.m2.s12
                        select.browser-default#method
                            option(value="get" selected) GET
                            option(value="post") POST
                            option(value="put") PUT
                            option(value="patch") PATCH
                            option(value="delete") DELETE
            .col.m4.s12
                a#add-endpoint.waves-effect.waves-light.btn.right
                    | add
                a#edit-endpoint.blue.waves-effect.waves-light.btn.right(style="display:none;")
                    | edit
    .section
        .row
            .col.s12
                h5.grey-text Options
        .row.response-type.json
            .col.m6.s12
                .row
                    .col.m6.s12.green-text
                        h6 JSON Schema
                    .col.m6.s12
                        input#json-object(name="json-type" type="radio" value="object" checked)
                        label(for="json-object") Object
                        input#json-list(name="json-type" type="radio" value="list")
                        label(for="json-list") List
                .row
                    .col.s12
                        .row.grey-text
                            .col.s12
                                h6.json-start {
                        .row
                            .col.s12.input-field.json-schema
                        .row.grey-text
                            .col.s12
                                h6.json-end }

            .col.m6.s12.green-text
                h6 JSON Preview
                pre#json-preview.materialize-textarea


        .row.response-type.upload(style="display:none")
            h5 Upload
        .row.response-type.image_base64(style="display:none")
            h5 Image Base 64
        .row.response-type.audio(style="display:none")
            h5 Audio
        .row.response-type.video(style="display:none")
            h5 Video